.flex {
  display: flex;
  width: 100%;

  &.align-start {
    align-items: flex-start;
  }
  &.align-center {
    align-items: center;
  }
  &.align-end {
    align-items: flex-end;
  }
  &.align-stretch {
    align-items: stretch;
  }

  &.justify-start {
    justify-content: flex-start;
  }
  &.justify-center {
    justify-content: center;
  }
  &.justify-end {
    justify-content: end;
  }
  &.justify-space-between {
    justify-content: space-between;
  }

  &.direction-row {
    flex-direction: row;
  }
  &.direction-column {
    flex-direction: column;
  }
  &.direction-row-reverse {
    flex-direction: row-reverse;
  }
  &.direction-column-reverse {
    flex-direction: column-reverse;
  }

  &.width-auto {
    width: auto;
  }
  &.width-fill {
    width: 100%;
  }

  &.height-max {
    height: 100%;
  }

  &.wrap-nowrap {
    flex-wrap: nowrap;
  }
  &.wrap-wrap {
    flex-wrap: wrap;
  }
  &.wrap-wrap-reverse {
    flex-wrap: wrap-reverse;
  }
}
