.navigation-bar {
  padding: 20px;
  border-bottom: 1px solid #333333;

  .navigation-bar__title {
    color: #eeeeee;
    transition: color 0.2s;
    font-size: 20px;

    &:hover {
      color: #bbbbbb;
    }
  }

  .navigation-bar__routes-list {
    flex-direction: row;

    .routes-list__item {
      font-family: $fontFamily;

      &:hover {
        &::after {
          left: 0;
        }
      }
    }
  }
}
