@font-face {
  font-family: 'SpaceX';
  src:
    local('SpaceX'),
    url(./assets/fonts/SpaceX.ttf) format('truetype');
  font-display: swap;
}

body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $fontFamily;
}

a {
  text-decoration: none;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #111111;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 999px;
  background: #aaaaaa33;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #aaaaaa;
}
