@font-face {
  font-family: 'SpaceX';
  src:
    local('SpaceX'),
    url(./assets/fonts/SpaceX.ttf) format('truetype');
  font-display: swap;
}

body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $fontFamily;
}

a {
  text-decoration: none;
}
